* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background: url(https://images.pexels.com/photos/825661/pexels-photo-825661.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    position: relative;
    min-height: 100vh;
}

body::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(102, 51, 153, 0.537);
    z-index: -1;
}

/* page wrapper  */

.page-wrapper {
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

/* title  */

h1, p {
    text-align: center;
}

#description {
    padding-bottom: 2rem;
}

/* form  */

.form-wrapper {
    width: 35vw;
    min-height: auto;
    background-color: rgba(0, 0, 0, 0.514);
    border-radius: 15px;
    color: white;
    padding: 2rem;
}

.btn-clr {
    background-color: rgb(102, 51, 153) !important;
}