@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
}

/* wrapper  */

.page-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}

/* header  */
.header-content {
    height: 100%;
}

header {
    width: 100%;
    position: fixed;
    background-color: whitesmoke;
    overflow: hidden;
}


#header-img {
    width: 15rem;
}

#logo {
    grid-column: span 2;
    margin-left: 3rem;
}

ul {
    display: grid;
    grid-template-columns: 3fr 8fr 2fr 2fr 2fr;
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: black;
    padding: 2em 1em 2em 1em;
    margin: 0;
}

li a:hover {
    background-color: rgb(209, 209, 209);
}


li {
    align-self: center;
}

/* main  */

main {
    margin: 6rem;
}

h1 {
    text-align: center;
    padding: .5em;
}

form {
    padding: 3rem;
}

#hero {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#email {
    border: 0;
    width: 15rem;
    height: 2rem;
    padding-left: 1em;
    border-radius: 10px;
    box-shadow: 5px 10px 78px 1px rgba(0,0,0,0.08) inset;
    -webkit-box-shadow: 5px 10px 78px 1px rgba(0,0,0,0.08) inset;
    -moz-box-shadow: 5px 10px 78px 1px rgba(0,0,0,0.08) inset;
}

.submit-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

#submit {
    border: 0;
    padding: 1em;
    cursor: pointer;
    text-transform: capitalize;
    color: black;
    background-color: white;
}

#submit:hover {
    background-color: black;
    color: white;
}

.vid-wrapper {
    display: flex;
    justify-content: center;
    padding: 3em;
}

/* media queries  */

@media screen and (max-width:1050px) {
    ul {
        grid-template-columns: 3fr 2fr 2fr 2fr 2fr;
    }
}